---
Language:        Cpp
BasedOnStyle:    Google

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands:   false
AlignAfterOpenBracket: Align
AlignTrailingComments: true

# Breaks
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: false

# Indentation
IndentWidth:     4
TabWidth:        4
UseTab:          Never

# Line Length
ColumnLimit:     80

# Function arguments one per line when the function has many arguments
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false

